.grid-container {
  display: grid;
  position: relative;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-clip: padding-box;
  height: auto;
  max-height: none;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin-bottom: 50px;
  grid-auto-flow: dense;
  width: max-content;
  min-width: 0;
}

.grid-item {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8%;
}

.grid-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .grid-item-overlay {
  opacity: 1;
}

.grid-item-name {
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.profile-picture-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 175px;
  pointer-events: none; /* Avoid interaction with grid items */
  border: 5px solid transparent;
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
}

.profile-picture-overlay img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}