.grid-item {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8%;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8%;
  }
  
  .grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .grid-item:hover .grid-item-overlay {
    opacity: 1;
  }
  
  .grid-item-name {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    font-size: 10px;
  }