.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    height: auto;
    max-height: none;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
  }
  
  .grid-item {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 8%;
    background-size: cover;
    background-position: center;
  }